:root {
    --main-background: blue;
    --main-accent: black;
    --text-accent: whitesmoke;
}

body {
background-color: var(--main-background);
margin: 0px;
padding: 0px;

}

header {
    color: var(--text-accent);
    background-color: var(--main-accent);
    font-size: x-large;
    padding: 60px;
    text-align: center;
}

/* Navigation Bar */
.navbar {
list-style-type: none;
display: flex;
flex-direction: row;
/* Removing float right */
justify-content: space-around;
margin: 0px;
padding: 0px;
}

li {
    float: center;
}

/* Navigation Bar Links */
li a {
    color: var(--text-accent);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--main-background);
    text-decoration-thickness: thick;
}

#meetme {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

h2 {
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
}

.meetme {
    display: block;
    width: 25%;
    border-radius: 85%;
    margin-left: auto;
    margin-right: auto;
    border: solid 20px;
}

/* Research if styling a horizontal rule is possible */

.projects {
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}

/* #projects h2 {
    align-self: flex-start;
    align-self: center;
} */

.firstproject {
    border-style: solid;
    border-radius: 20px;
    display: block;
    width: 600px;
    height: 600px;
    background-image: linear-gradient(black, darkblue, black);
}


.firstproject a {
    margin-top: 30%;
    font-size: 80px;
    text-align: center;
    color: var(--text-accent);
    background-color: var(--main-accent);
    display: flex;
    justify-content: center;
    /* align-content: center; */
}

/* Removed .moreprojects formatting */

.rmndrprojects {
    border-style: solid;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(darkblue, blue, darkblue);
}

.rmndrprojects a {
    margin-top: 35%;
    font-size: 30px;
    text-align: center;
    color: var(--text-accent);
    background-color: var(--main-accent);
    display: flex;
    justify-content: center;
}


#contact {
    text-align: center;
}

/* Contact Information Subjects in bold */
p span {
    font-size: medium;
    font-weight: bold;
}

#contact a{
    color: black;
}

footer {
    background-color: var(--main-accent);
    color: var(--text-accent);
    text-align: center;
    margin: 0px;
    padding: 20px;
}

@media screen and (max-width: 992px) { 
    .projects {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screens and (max-width: 600px) {
    .projects {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .navbar li a {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
